<div class="wrapper text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.photo %>); background-size: cover">
  <h1><%= @cocktail.name %></h1>
  <div>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill, class: "avatar-bordered-xl" %>
  </div>
  <%= link_to "Home", cocktails_path, class: "btn btn-success" %>
  <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-danger" %>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-8">
    <h3 class="text-center">Donnez nous vos dosages !</h3>
    <div class="form line-horizontal">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.input :description, label: "Quantité" %>
        <%= f.button :submit, input_html: {class: "text-center btn btn-info"} %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">Commentez la recette !</h3>
    <div class="form line-vertical">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.input :description, label: "Quantité" %>
        <%= f.button :submit, input_html: {class: "text-center btn btn-info"} %>
      <% end %>
    </div>
  </div>
</div>



<div class="container">
  <ul id="doses">
    <% @cocktail.doses.reverse_each do |dose| %>
    <li class="dose text-center">
      <h1><%= dose.description %> <%= dose.ingredient.name %></h1>
      <%= link_to "Delete Dose", dose_path(dose), method: :delete, class: "btn btn-danger" %>
    </li>
    <% end %>
  </ul>
</div>
